@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --text: #050315;
  --background: #fbfbfe;
  --primary: #2f27ce;
  --secondary: #dfddff;
  --accent: #433bff;
  
  --shdw1: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  --shdw2: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --shdw3: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

* {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

body {
  background-color: var(--background);
  color: var(--text);
  margin: 0; padding: 0;
}

a {
  text-decoration: none;
  opacity: 0.75;

  &:hover {
    text-decoration: underline;
    opacity: 1;
  }
}

button {
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:focus, &:active {
    outline: none;
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h1, h2, h3, h4 {
  margin: 0;
}

.subject {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--secondary);
  box-shadow: var(--shdw1);
  border-radius: 0.5rem;
}

.app_container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  .content{ 
    flex: 1;
    margin: 5rem;
  }
}