.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;

  .splash {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .avatar {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: contain;
  }

  .username {
    font-size: 3rem;
    font-weight: 900;
  }

  .edit {
    position: absolute;
    top: 0;
    right: 0;
  }
}