.exercises {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, auto);
  max-height: 500px;
  overflow-y: auto;
}

.select {
  border: var(--secondary) 1px solid;
  display: flex;
  padding: 0;
  border-radius: 0.5rem;
}